html, body {
    font-family: 'Lora', serif;
}

main {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    /* Set "my-sec-counter" to 0 */
    counter-reset: my-sec-counter;
}

.logo {
    color: #11ad1e;
    stroke-width: 2;
    text-shadow: 4px 4px 0px rgba(215,229,247,0.5);
}

.logo-text {
    font-family: 'Oleo Script', Helvetica, sans-serif;
}

.navbar {
    background-color: rgba(215,229,247,1) !important;
}

.navbar .navbar-nav .active a {
    color: rgb(65, 102, 114) !important;
    font-weight: bold;
    cursor: default;
}

.navbar li:not([class*="active"]) a:hover {
    text-shadow: 4px 4px 5px rgba(215,229,247,1);
}

ul[class*="navbar-nav"] li {
    border-right: rgba(128, 128, 128, 0.2) solid 1px;
}

#body {
   padding-top: 5px;
}

.card {
    margin: 10px 0 10px 0 !important;
}

h4[class='feed-item-title'] {
    font-size: 1em;
}

p[class='feed-item-desc'] {
    font-size: 0.8em;
}

#screenrant h4[class='feed-item-title'] {
    font-size: 0.7em;
}

#screenrant h4[class='feed-item-title']::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: counter(my-sec-counter) ". ";
}

#joblo img {
    display: block;
    max-width:100%;
    max-height:95px;
    width: auto;
    height: auto;
    padding: 2px;
}

#joblo h4 {
    display: block;
}
