<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MovieDataExtractor.Cinemasight.CinemaSightExtractorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MovieDataExtractor.OscarOrg.OscarOrgExtractorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MovieDataExtractor.Cinemasight.CinemaSightExtractor" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="oscarsdb" connectionString="Server=localhost;Database=movies_channel;User=root;Password=root1234;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  <userSettings>
    <MovieDataExtractor.Cinemasight.CinemaSightExtractorSettings>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://www.cinemasight.com/awards-history</value>
      </setting>
      <setting name="XpathAwardIndexExtract" serializeAs="String">
        <value>(//div[@id='content']/article/div[2]/table//tr//td//a)[position() &gt; 1 and position() &lt; 92]</value>
      </setting>
      <setting name="FileNameAwards" serializeAs="String">
        <value>cinemasight_awards.csv</value>
      </setting>
      <setting name="FileNameCeremonyDetails" serializeAs="String">
        <value>cinemasight_ceremony.csv</value>
      </setting>
      <setting name="ColumnNamesAwards" serializeAs="String">
        <value>Year,Category,Winner,Key,Subkey</value>
      </setting>
      <setting name="ColumnNamesCeremony" serializeAs="String">
        <value>Year,Topic,Winner,SubTopic,Value</value>
      </setting>
      <setting name="XpathYearSpecificIndices" serializeAs="String">
        <value>//div[@id='content']/article/div[2]/table[1]//tr/td[2]/p[position()&lt;3]//a</value>
      </setting>
      <setting name="XpathAwardsYearSpecificCategoriesGroup" serializeAs="String">
        <value>//div[@id='content']/article/div[2]/*[position() &gt; 4]</value>
      </setting>
      <setting name="XpathCeremoniesYearSpecific" serializeAs="String">
        <value>//div[@id='content']/article/div[2]/*[position() &gt; 1]</value>
      </setting>
      <setting name="ProcessSpecificOscarYear" serializeAs="String">
        <value />
      </setting>
      <setting name="FileNameMoments" serializeAs="String">
        <value>cinemasight_moments.csv</value>
      </setting>
      <setting name="XpathAwardsNotes" serializeAs="String">
        <value>//div[@id='content']/article/div[2]//ol/li</value>
      </setting>
      <setting name="ColumnNamesMoments" serializeAs="String">
        <value>Year,Topic,SubTopic,Value</value>
      </setting>
      <setting name="SkipProcessing" serializeAs="String">
        <value>True</value>
      </setting>
    </MovieDataExtractor.Cinemasight.CinemaSightExtractorSettings>
    <MovieDataExtractor.OscarOrg.OscarOrgExtractorSettings>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://www.oscars.org/oscars/ceremonies/{0}</value>
      </setting>
      <setting name="FileNameAwards" serializeAs="String">
        <value>oscarArg_Awards.csv</value>
      </setting>
      <setting name="FileNameMemorableMoments" serializeAs="String">
        <value>oscarArg_Memorable.csv</value>
      </setting>
      <setting name="FileNameAwardsPics" serializeAs="String">
        <value>oscarArg_AwardsPics.csv</value>
      </setting>
      <setting name="FileNameMetadata" serializeAs="String">
        <value>oscarArg_AwardsMetadata.csv</value>
      </setting>
      <setting name="ColumnNameAwards" serializeAs="String">
        <value>Year,Type,WinOrLose,Key,Item</value>
      </setting>
      <setting name="ColumNameMemorableMoments" serializeAs="String">
        <value>Year,Moments</value>
      </setting>
      <setting name="ColumnNameAwardsPics" serializeAs="String">
        <value>Year,Type,Content,Title,Description,Youtube,Url</value>
      </setting>
      <setting name="ColumnNameMetadata" serializeAs="String">
        <value>Year,Location,Date,Honoring</value>
      </setting>
      <setting name="XpathAwardsCategoryYearSpecific" serializeAs="String">
        <value>//*[@id='quicktabs-tabpage-honorees-0']/div/div[2]/div[@class='view-grouping']/div</value>
      </setting>
      <setting name="XpathFieldKeyName" serializeAs="String">
        <value>./div[contains(@class, 'views-field-field-actor-name')]</value>
      </setting>
      <setting name="XpathFieldKeyValue" serializeAs="String">
        <value>./div[contains(@class, 'views-field-title')]</value>
      </setting>
      <setting name="XpathOscarHighlightPics" serializeAs="String">
        <value>//div[contains(@class,'field--name-field-ceremonies-media')]</value>
      </setting>
      <setting name="XpathPicsCaption" serializeAs="String">
        <value>../div[contains(@class,'field--name-field-caption')]</value>
      </setting>
      <setting name="XpathPicsLink" serializeAs="String">
        <value>.//a</value>
      </setting>
      <setting name="XpathMetadataOscarTitle" serializeAs="String">
        <value>//div[contains(@class,'views-field-field-location-name')]</value>
      </setting>
      <setting name="XpathMetadataOscarDate" serializeAs="String">
        <value>//div[contains(@class,'views-field-field-date')]</value>
      </setting>
      <setting name="XpathMetadataOscarHonoringDate" serializeAs="String">
        <value>//div[contains(@class,'views-field-field-honoring-line')]</value>
      </setting>
      <setting name="ProcessStartYearOfOscar" serializeAs="String">
        <value>1929</value>
      </setting>
      <setting name="ProcessEndYearOfOscar" serializeAs="String">
        <value>2018</value>
      </setting>
      <setting name="MomentsRelativeUrl" serializeAs="String">
        <value>/memorable-moments</value>
      </setting>
      <setting name="XpathMomentPictureImg" serializeAs="String">
        <value>//div[contains(@class,'field--name-field-hero-image')]//img</value>
      </setting>
      <setting name="XpathMomentDiv" serializeAs="String">
        <value>//div[contains(@class,'field--type-text-with-summary')]//div[contains(@class,'even')]/*</value>
      </setting>
      <setting name="XpathWinningElements" serializeAs="String">
        <value>{0}/preceding-sibling::node()[not(self::text())]</value>
      </setting>
      <setting name="XpathNominationElements" serializeAs="String">
        <value>{0}/following-sibling::node()[not(self::text())]</value>
      </setting>
      <setting name="XpathNominationHeader" serializeAs="String">
        <value>./h3[2]</value>
      </setting>
      <setting name="SkipProcessing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileNameAwardsNormalize" serializeAs="String">
        <value>oscarOrg_Awards_Normalize.csv</value>
      </setting>
      <setting name="FileNameMovies" serializeAs="String">
        <value>oscarOrg_Movies.csv</value>
      </setting>
      <setting name="FileNamesPerson" serializeAs="String">
        <value>oscarOrg_Persons.csv</value>
      </setting>
      <setting name="FileNameAwardType" serializeAs="String">
        <value>oscarOrg_AwardType.csv</value>
      </setting>
      <setting name="ColumnNameAwardsNormalize" serializeAs="String">
        <value>Year,AwardTypeId,IsWinner,MovieId,PersonId</value>
      </setting>
      <setting name="ColumnNamePerson" serializeAs="String">
        <value>PersonId,Name</value>
      </setting>
      <setting name="ColumnNameMovies" serializeAs="String">
        <value>MovieId,Name</value>
      </setting>
      <setting name="ColumnNameAwardType" serializeAs="String">
        <value>TypeId,Name</value>
      </setting>
      <setting name="ColumnNameMusicSong" serializeAs="String">
        <value>MovieId,AwardTypeId,Name</value>
      </setting>
      <setting name="FileNameMusicSong" serializeAs="String">
        <value>oscarOrg_MusicSong.csv</value>
      </setting>
      <setting name="FileNameJob" serializeAs="String">
        <value>oscarOrg_Job.csv</value>
      </setting>
      <setting name="ColumnNameJob" serializeAs="String">
        <value>JobId,Name</value>
      </setting>
      <setting name="FileNamePersonJob" serializeAs="String">
        <value>oscarOrg_PersonJob.csv</value>
      </setting>
      <setting name="ColumnNamePersonJob" serializeAs="String">
        <value>PersonId,JobId</value>
      </setting>
    </MovieDataExtractor.OscarOrg.OscarOrgExtractorSettings>
    <MovieDataExtractor.Cinemasight.CinemaSightExtractor>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://www.cinemasight.com/awards-history</value>
      </setting>
      <setting name="XpathAwardIndexExtract" serializeAs="String">
        <value>(//div[@id='content']/article/div[2]/table//tr//td//a)[position() &gt; 1 and position() &gt; 92]</value>
      </setting>
    </MovieDataExtractor.Cinemasight.CinemaSightExtractor>
  </userSettings>
</configuration>
