/**
 * Resetting all browsers to the same level/expectation
 */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

/**
 * Set core styles
 */
body {
  background: #eee;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  height: auto !important;
  min-height: 100%;
  text-rendering: optimizeLegibility;
}
